# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vs/
.vscode/

# Vendor
vendor

# target
target

## Mac
.DS_Store

##Docker
.env

##Binary
go-logger